.forb {
    font-family: 'Orbitron', sans-serif;
}

.bg-hero {
    background-image: url(https://images.unsplash.com/photo-1512719994953-eabf50895df7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=429&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#gg {
    display: none;
}

#gt {
    display: none;
}

#gz {
    display: none;
}